<app-nav-bar></app-nav-bar>
<div class="flex w-full h-[91vh] mt-5 px-44 gap-5 bg-gradient-to-r">
  <div
    class="flex-1 h-[80vh] flex flex-col rounded-md overflow-hidden shadow-md border"
  >
    <div class="w-full h-32 border"></div>
    <div class="self-center w-32 h-32 border rounded-full mt-[-80px]"></div>
    <h1 class="self-center mt-5">Tharindu Lakshan</h1>
    <p class="text-[11px] text-center">
      Associate Software Engineer at Silverline IT | Mobile App
      Developer(Android) | Community Developer | B.Sc. Physical Science – ICT
      University of Sri Jayewardenepura | Youtube content creator
    </p>
  </div>
  <div class="h-full flex-[2] flex flex-col p-1 gap-2">
    <div class="flex items-center justify-center w-full shadow-md">
      <h5>Add Question</h5>
    </div>
    <div class="flex-1 w-full p-1 overflow-y-auto">
      <div class="flex flex-col w-full h-auto mb-1 border rounded-md shadow-md">
        <div class="flex items-center w-full gap-2 p-1">
          <div class="w-10 h-10 border rounded-full"></div>
          <h5>Tharindu Lakshan</h5>
        </div>
        <div class="flex flex-col gap-1 p-1">
          <p class="mb-5 text-sm">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis sit,
            ducimus eaque hic temporibus voluptate quod nihil facilis
            reprehenderit fuga.
          </p>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full h-auto mb-1 border rounded-md">
        <div class="flex items-center w-full gap-2 p-1">
          <div class="w-10 h-10 border rounded-full"></div>
          <h5>Tharindu Lakshan</h5>
        </div>
        <div class="flex flex-col gap-1 p-1">
          <p class="mb-5 text-sm">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis sit,
            ducimus eaque hic temporibus voluptate quod nihil facilis
            reprehenderit fuga.
          </p>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
          <div class="flex items-start gap-1">
            <input type="radio" />
            <pre class="flex w-full overflow-x-auto">
                <code class="w-full border rounded-sm">{{ javaCodeSnippet }}</code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex-1 shadow-md border h-[80vh] flex flex-col rounded-md overflow-hidden"
  ></div>
</div>
